* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first-color : hsl(31, 77%, 52%);
    --second-color : hsl(184, 100%, 22%);
    --third-color : hsl(179, 100%, 13%) ;
    --p-color : hsla(0, 0%, 100%, 0.75);
    --bg-color : hsl(0, 0%, 95%);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 750px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.box {
    padding: 30px;
}
.box p {
    color: var(--p-color);
    line-height: 1.5;
    margin-bottom: 70px;
    font-family: 'Lexend Deca', sans-serif;
}
.box img {
    margin: 15px 0;
}

.box h2 {
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.box1 {
    background-color: var(--first-color);
}

.box2 {
    background-color: var(--second-color);
}
.box3 {
    background-color: var(--third-color);
}
.btn {
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px ;
    cursor: pointer;
    width: 70%;
}
.btn1 {
    background-color: white;
    color: var(--first-color);
}
.btn2 {
    background-color: white;
    color: var(--second-color);
}
.btn3 {
    background-color: white;
    color: var(--third-color);
}

.btn:hover {
    background-color: transparent;
    color: white;
}

@media only screen and (max-width : 765px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 60%;
        margin: 30px auto;
        border-radius: 10px;
        overflow: hidden;
    }
    .btn {
        width: 60%;
    }
}

